.main-wrapper-counter {
  height: 48px;
  width: 120px;
  background-color: var(--lightGray);
  display: flex;
  align-items: center;
}

.decrease {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
}

.current-count {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
}

.increase {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
}
