.main-wrapper-categories {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-top: 5%;
}

.category-section {
  background-color: var(--lightGray);
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
}

.category-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.category-image img {
  width: 40%;
  margin-top: -15%;
}

.category-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.category-pointer::after {
  content: url("../../assets/img/shared/desktop/icon-arrow-right.svg");
}

@media only screen and (max-width: 375px) {
  .main-wrapper-categories {
    flex-direction: column;
    margin-top: 20%;
  }
  .category-section {
    margin-top: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .main-wrapper-categories {
    gap: 10px;
  }
}
