.parent-wrapper-info {
  width: 100%;
}

.selected-product {
  width: 100%;
  margin-top: 5%;
}

.info-card {
  width: 100%;
  display: flex;
}

.full-info {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-image {
  flex: 1;
}

.full-image img {
  width: 100%;
  border-radius: 8px;
}

.full-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shopping-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.detailed-info {
  width: 100%;
  margin-top: 8%;
  display: flex;
}
.product-features {
  width: 60%;
}

.features-text {
  margin-top: 4%;
  width: 90%;
}

.product-box {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.box-contents {
  margin-top: 5%;
}

.box-detail {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.tri-picture-gallery {
  margin-top: 5%;
  width: 100%;
  display: flex;
  gap: 30px;
}

.small-pictures {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.small-pictures img {
  width: 100%;
  border-radius: 8px;
}

.large-pictures {
  flex: 1;
}

.large-pictures img {
  width: 100%;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .detailed-info {
    flex-direction: column;
  }

  .full-info {
    width: 60%;
  }

  .product-features {
    width: 100%;
  }

  .product-box {
    width: 100%;
    display: flex;
    margin-top: 5%;
    flex-direction: row;
  }

  .box-title {
    width: 50%;
    height: 100%;
  }

  .box-contents {
    width: 50%;
    margin-top: 0;
    margin-bottom: 5%;
  }

  .tri-picture-gallery {
    gap: 20px;
  }

  .small-pictures {
    gap: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .info-card {
    flex-direction: column;
  }

  .full-info {
    width: 100%;
    justify-content: flex-start;
    margin-top: 10%;
  }
  .full-name {
    width: 30%;
  }
  .detailed-info {
    margin-top: 30%;
  }

  .product-box {
    margin-top: 30%;
  }

  .tri-picture-gallery {
    margin-top: 30%;
    flex-direction: column;
  }

  .small-pictures {
    width: 100%;
  }
}
