body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "manrope-regular";
  src: url("./assets/fonts/manrope/fonts/web/Manrope-Regular.woff2");
}

@font-face {
  font-family: "manrope-bold";
  src: url("./assets/fonts/manrope/fonts/web/Manrope-Bold.woff2");
}

@font-face {
  font-family: "manrope-medium";
  src: url("./assets/fonts/manrope/fonts/web/Manrope-Medium.woff2");
} ;
